<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
    <title>Hash parsing</title>
    <script>
        window.onload = window.onhashchange = function() {
            var fragment = window.location.hash;
            document.getElementById('hash').innerText = fragment
            fragment=fragment.split('#')
            window.location="http://localhost:8888/token?"+fragment[1];
        }
    </script>
</head>
<body>
    <h1 id="hash"></h1>
</body>
</html>