<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Spotify Clone</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" href="./assets/favicon.png">
    <script src="./dropdown.js" defer></script>

</head>


<body>
<style>
    * {
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        width: 14px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(136, 136, 136, 0.589);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(85, 85, 85, 0.637);
    }

    html,
    body,
    #app,
    #principal {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    #app {
        min-width: 767px;
        overflow-x: auto;
    }

    #principal {
        background-color: #780410;
        transition: background-color 1s ease;
        color: #fff;
    }

    #principal #latNav {
        max-width: 246px;
        background-color: #0a0a0a;
    }

    #principal #latNav a {
        text-decoration: none;
        color: #fff;
    }

    #principal #latNav .nav .nav-item .nav-link {
        color: #fff;
        fill: #fff;
        font-size: 0.9em;
        font-weight: bold;
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    #principal #latNav .nav .nav-item .nav-link svg {
        margin-right: 13px;
    }

    #principal #latNav .nav .nav-item .nav-link.ativo,
    #principal #latNav .nav .nav-item .nav-link:hover {
        opacity: 1;
    }

    #principal #latNav #underList button {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        display: flex;
        color: #fff;
        opacity: 0.8;
        transition: opacity 0.3s ease;
        padding: 8px 24px;
        width: 100%;
        font-size: 0.9em;
        font-weight: bold;
    }

    #principal #latNav #underList button .plus_bttn,
    #principal #latNav #underList button .heart_bttn {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #principal #latNav #underList button .plus_bttn {
        background-color: #fff;
    }

    #principal #latNav #underList button .heart_bttn {
        background: linear-gradient(125deg, #773de3 41%, #cffff1 100%);
        fill: #fff;
    }

    #principal #latNav #underList button:hover {
        opacity: 1;
    }

    #principal #latNav #playlistSidebar {
        width: 100%;
        overflow-y: auto;
        box-shadow: inset 0 30px 15px rgba(10, 10, 10, 0.2);
    }

    #principal #latNav #playlistSidebar li {
        width: 100%;
        list-style-type: none;
    }

    #principal #latNav #playlistSidebar li a {
        font-size: 0.9em;
        font-weight: 500;
    }

    #principal #latNav #installApp {
        fill: #fff;
        font-size: 0.9em;
        font-weight: 500;
        opacity: 0.8;
        transition: opacity 0.3s;
    }

    #principal #latNav #installApp svg {
        margin-right: 15px;
    }

    #principal #latNav #installApp:hover {
        opacity: 1;
    }

    #principal #feed {
        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                #121212 50%,
                #121212 100%
        );
        overflow-y: auto;
    }

    #principal #feed #topNav {
        transition: background-color .3s ease;
        position: sticky;
        top: 0;
        z-index: 999;
    }



    #principal #feed #topNav #arrowMenu button {
        border: none;
        margin: 5px;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: rgba(146, 144, 144, 0.671);
        fill: #fff;
        opacity: 0.5;
    }

    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    #principal #feed #topNav #btnTopNav button#upgrade {
        background-color: rgba(10, 10, 10, 0.1);
        color: #fff;
        padding: 2px 10px;
        margin: 1px;
        border-radius: 20px;
        border: 1px solid #fff;
        opacity: 0.8;
        font-weight: 500;
        font-size: 0.9em;
    }

    #principal #feed #topNav #btnTopNav button#upgrade:hover {
        background-color: #0a0a0a;
        padding: 2px 11px;
    }

    #principal #feed #topNav #btnTopNav #user_bttn button {
        background-color: rgba(99, 99, 99, 0.594);
        border: none;
        border-radius: 50px;
        padding: 3px;
        padding-right: 10px;
    }

    #principal #feed #topNav #btnTopNav #user_bttn button .imgUsuario {
        border-radius: 14px;
        display: inline-block;
        width: 28px;
        height: 28px;
    }

    #principal #feed #topNav #btnTopNav #user_bttn button:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }

    #principal #feed #main {
        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                #121212 50%,
                #121212 100%
        );
    }

    #principal #feed #main #feedHeader {
        max-width: 1920px;
    }

    #principal #feed #main #feedHeader #playlistsRecentes {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
    }

    #principal #feed #main #feedHeader #playlistsRecentes li {
        list-style-type: none;
        width: 32%;
        border-radius: 5px;
        margin: 7px 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
    }

    #principal #feed #main #feedHeader #playlistsRecentes li:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    #principal #feed #main #feedHeader #playlistsRecentes li:hover button.btn {
        opacity: 1;
        cursor: default;
    }

    #principal #feed #main #feedHeader #playlistsRecentes li img {
        width: 80px;
        height: 80px;
        border-radius: 5px 0 0 5px;
    }

    #principal #feed #main #feedHeader #playlistsRecentes li button.btn {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: #1ed760;
        transition: opacity 0.3s ease;
        opacity: 0;
        box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.9);
        transition: all ease-in-out 0.2s;
    }

    #principal #feed #main #feedHeader #playlistsRecentes li button.btn:hover {
        padding: 1px;
        border: 0;
        transform: scale(1.05);
    }


    #botomIcon {
        display: none !important;
    }

    @media only screen and (max-width: 1186px) {
        #principal #feed #main #feedHeader #playlistsRecentes li {
            width: 49%;
        }

        #principal #feed #main #feedHeader #playlistsRecentes li img {
            width: 64px;
            height: 64px;
        }
    }

    #principal #feed #main .feedPlaylist {
        max-width: 1920px;
    }

    #principal #feed #main .feedPlaylist h4 {
        display: inline;
    }
    #principal #feed #main .feedPlaylist h4 > a {
        text-decoration: none;
        color: #fff;
    }

    #principal #feed #main .feedPlaylist h4 > a:hover {
        text-decoration: underline;
    }
    #principal #feed #main .feedPlaylist .see-all {
        text-decoration: none;
        color: #b3b3b3;
        float: right;
        font-size: 9pt;
        font-weight: bold;
    }

    #principal #feed #main .feedPlaylist .see-all:hover {
        text-decoration: underline;
    }

    #principal #feed #main .feedPlaylist .playlists {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;

        height: 380px;
    }

    #principal #feed #main .feedPlaylist .playlists li {
        width: 15%;
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 15px 15px 0 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative;
        margin-bottom: 100px;
    }

    #principal #feed #main .feedPlaylist .playlists li img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 17px;
    }

    #principal #feed #main .feedPlaylist .playlists li span {
        font-weight: 700;
    }

    #principal #feed #main .feedPlaylist .playlists li p {
        font-size: 0.9em;
        line-height: 15px;
        opacity: 0.8;
    }

    #principal #feed #main .feedPlaylist .playlists li button.btn {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: #1ed760;
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        right: 8px;
        bottom: 80px;
        cursor: default;
        transition: all ease-in-out 0.2s;
        box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.9);
    }

    #principal #feed #main .feedPlaylist .playlists li button.btn:hover {
        padding: 1px;
        border: 0;
        transform: scale(1.05);
    }

    #principal #feed #main .feedPlaylist .playlists li:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    #principal #feed #main .feedPlaylist .playlists li:hover button.btn {
        bottom: 95px;
        opacity: 1;
    }

    @media only screen and (max-width: 2130px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 360px;
        }
    }

    @media only screen and (max-width: 1920px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 320px;
        }
    }

    @media only screen and (max-width: 1730px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 300px;
        }
    }

    @media only screen and (max-width: 1512px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 295px;
        }

        #principal #feed #main .feedPlaylist .playlists li {
            width: 18%;
        }
    }

    @media only screen and (max-width: 1324px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 310px;
        }

        #principal #feed #main .feedPlaylist .playlists li {
            width: 23%;
        }
    }

    @media only screen and (max-width: 996px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 295px;
        }

        #principal #feed #main .feedPlaylist .playlists li {
            width: 32%;
        }
    }

    @media only screen and (max-width: 796px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 310px;
        }

        #principal #feed #main .feedPlaylist .playlists li {
            width: 48%;
        }
    }

    @media only screen and (max-width: 770px) {
        #latNav {
            display: none !important;
        }

        #configAudio {
            display: none !important;
        }

        #caixaCentral {
            display: none !important;
        }

        #principal #feed #main .feedPlaylist .playlists {
            height: 310px;
        }

        #principal #feed #main .feedPlaylist .playlists li {
            width: 23%;
        }

        #audioBar #musicaPlay {
            display: none !important;
        }

        #audioBar {
            height: 70px !important;
            width: 100vw !important;
            display: flex;
            align-items: center;
            justify-content: center !important;
        }

        #botomIcon {
            display: unset !important;
        }

        #botomIcon a {
            color: white;
            font-size: 12px;
        }

        #botomIcon a svg {
            margin: 10px;
        }

        #arrowMenu {
            visibility: hidden;
        }

        #app {
            min-width: 100vw;
        }

        #mobiPlay {
            height: 63px;
            width: 95%;
            margin-top: 78vh;
            margin-left: 2.5%;
            position: absolute;
            opacity: 95%;
            border-radius: 15px;
            background-color: #000000e4;
            display: flex !important;
            align-items: center;
            padding: 0 5vw;
            justify-content: end;
        }

        #mobibtn {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border-color: white;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media only screen and (max-width: 520px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 310px;
        }

        #principal #feed #main .feedPlaylist .playlists li {
            width: 48%;
        }
    }

    @media only screen and (max-width: 430px) {
        #principal #feed #main .feedPlaylist .playlists {
            height: 210px;
        }

        #principal #feed #main .feedPlaylist .playlists li {
            width: 48%;
        }

        #main #feedHeader #playlistsRecentes li {
            width: 100% !important;
        }

        #main #feedHeader #playlistsRecentes {
            height: 240px;
            overflow: hidden;
        }

        #principal #feed #main .feedPlaylist .playlists li p {
            display: none;
        }

        #principal #feed #main .feedPlaylist .playlists li {
            padding-bottom: 15px;
            margin-bottom: 50px;
        }
    }

    @media only screen and (max-width: 370px) {
        #botomIcon a {
            font-size: 10px;
            margin: -9px;
            padding: 18px;
        }
        #principal #feed #main .feedPlaylist .playlists li {
            margin-bottom: 100px;
        }
    }

    @media only screen and (max-width: 300px) {
        #botomIcon a {
            font-size: 8px;
            margin: -14px;
            padding: 18px;
        }
    }

    #mobiPlay {
        display: none;
    }

    #audioBar {
        width: 100%;
        height: 90px;
        background-color: #121212;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    #audioBar #musicaPlay {
        width: 20%;
    }

    #audioBar button.icones {
        background-color: rgba(0, 0, 0, 0);
        fill: #fff;
        border: none;
        opacity: 0.7;
    }

    #audioBar button.icones:hover {
        opacity: 1;
    }

    #audioBar button.icones.aleatorio {
        margin: 5px 15px 5px 5px;
    }

    #audioBar button.icones.proximo {
        margin: 5px 5px 5px 15px;
    }

    #audioBar button.icones.proximo svg {
        margin-bottom: 4px;
    }

    #audioBar button.icones.anterior {
        transform: rotate(180deg);
        margin: 5px 15px 5px 5px;
    }

    #audioBar button.icones.anterior svg {
        margin-bottom: 4px;
    }

    #audioBar button.icones.repetir {
        margin: 5px 5px 5px 15px;
    }

    #audioBar button.icones.legenda,
    #audioBar button.icones.lista,
    #audioBar button.icones.outrosDispositivos {
        padding-right: 15px;
    }

    #audioBar #caixaCentral #caixaSetas button.playPause {
        width: 35px;
        height: 35px;
        border-radius: 24px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #audioBar #caixaCentral #caixaSetas button.playPause:hover {
        padding: 2px;
    }

    #audioBar #caixaCentral #barraDeProgresso small {
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9em;
        margin: 10px;
    }

    #audioBar #caixaCentral #barraDeProgresso input[type="range"] {
        width: 25rem;
    }

    #audioBar #configAudio #volume input[type="range"] {
        width: 5rem;
    }

    #audioBar input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 5rem;
    }

    #audioBar input[type="range"]:focus {
        outline: none;
    }

    #audioBar input[type="range"]::-webkit-slider-runnable-track {
        background-color: #ffffff;
        border-radius: 0.5rem;
        height: 0.25rem;
    }

    #audioBar input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -3.2px;
        background-color: #22c925;
        border-radius: 0.5rem;
        height: 0.7rem;
        width: 0.7rem;
    }

    #audioBar input[type="range"]:focus::-webkit-slider-thumb {
        outline: 3px solid #22c925;
        outline-offset: 0.125rem;
    }

    #audioBar input[type="range"]::-moz-range-track {
        background-color: #ffffff;
        border-radius: 0.5rem;
        height: 0.25rem;
    }

    #audioBar input[type="range"]::-moz-range-thumb {
        background-color: #22c925;
        border: none;
        border-radius: 0.5rem;
        height: 0.7rem;
        width: 0.7rem;
    }

    #audioBar input[type="range"]:focus::-moz-range-thumb {
        outline: 3px solid #22c925;
        outline-offset: 0.125rem;
    }

    #full-screen {
        background-color: #121212;
        border: none;
    }

    @media only screen and (max-width: 1060px) {
        #audioBar button.icones svg {
            width: 15px;
            height: 15px;
        }

        #audioBar button.icones.legenda,
        #audioBar button.icones.lista,
        #audioBar button.icones.outrosDispositivos {
            padding-right: 8px;
        }

        #audioBar #caixaCentral #caixaSetas button.playPause {
            width: 30px;
            height: 30px;
            padding: 0;
        }

        #audioBar #caixaCentral #caixaSetas button.playPause svg {
            width: 18px;
            height: 18px;
        }

        #audioBar #caixaCentral #barraDeProgresso small {
            font-size: 0.8em;
        }

        #audioBar #caixaCentral #barraDeProgresso input[type="range"] {
            width: 15rem;
        }
    }

    .dropdownMenuButton1-dropContent {
        display: none;
        padding:10px;
        padding-left:15px;
        background-color: rgba(10, 10, 10, 0.4);
        margin-top:10px;
        border-radius: 5px;
        width:254px;
        align-self: flex-end;
        position: absolute;
        top:30px
    }

    .show {
        display: block;
    }

    .dropdownMenuButton1-dropContent > a {
        text-decoration: none;
        color:white;

    }
    #user_bttn {
        display: flex;
        flex-direction: column;
    }
</style>


<div id="app" class="d-flex flex-column">

    <div id="principal" class="d-flex">


        <nav id="latNav" class="w-100 pt-4 d-flex flex-column">

            <!-- Start of logo -->

            <a href="#" class="d-flex px-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-spotify"
                     viewBox="0 0 16 16">
                    <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z" />
                </svg>
                <span class="fw-semibold ms-2" style="font-size: 1.5em;">SpotEEfy</span>
            </a>

            <!-- Start of side bar-->

            <ul class="nav flex-column px-2 my-4">
                <li class="nav-item">
                    <a href="/" class="nav-link"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
                        <path
                                d="M13.5 1.515a3 3 0 00-3 0L3 5.845a2 2 0 00-1 1.732V21a1 1 0 001 1h6a1 1 0 001-1v-6h4v6a1 1 0 001 1h6a1 1 0 001-1V7.577a2 2 0 00-1-1.732l-7.5-4.33z">
                        </path>
                    </svg> Home</a>
                </li>
                <li class="nav-item">
                    <a href="search.html" class="nav-link"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
                        <path
                                d="M10.533 1.279c-5.18 0-9.407 4.14-9.407 9.279s4.226 9.279 9.407 9.279c2.234 0 4.29-.77 5.907-2.058l4.353 4.353a1 1 0 101.414-1.414l-4.344-4.344a9.157 9.157 0 002.077-5.816c0-5.14-4.226-9.28-9.407-9.28zm-7.407 9.279c0-4.006 3.302-7.28 7.407-7.28s7.407 3.274 7.407 7.28-3.302 7.279-7.407 7.279-7.407-3.273-7.407-7.28z">
                        </path>
                    </svg> Search</a>
                </li>
                <li class="nav-item">
                    <a href="./library" class="nav-link ativo"><svg role="img" height="24" width="24" viewBox="0 0 24 24">
                        <path
                                d="M14.5 2.134a1 1 0 011 0l6 3.464a1 1 0 01.5.866V21a1 1 0 01-1 1h-6a1 1 0 01-1-1V3a1 1 0 01.5-.866zM16 4.732V20h4V7.041l-4-2.309zM3 22a1 1 0 01-1-1V3a1 1 0 012 0v18a1 1 0 01-1 1zm6 0a1 1 0 01-1-1V3a1 1 0 012 0v18a1 1 0 01-1 1z">
                        </path>
                    </svg> Your Library</a>
                </li>
            </ul>






            <hr class="mx-4 mb-0 mt-2">


            <!-- Start of Install App Button-->
            <a href="./login" id="installApp" class="d-block px-4 py-2">
                Log Out
            </a>


        </nav>

        <!-- End of Install App Button-->


        <!-- Main Content -->
        <div id="feed" class="w-100">

            <!-- menu superior do conteudo -->
            <nav id="topNav" class="d-flex justify-content-between align-items-center px-4 py-2">

                <!-- Start of arrows -->

                <div id="arrowMenu">
                    <button><svg role="img" height="24" width="24" class="Svg-ytk21e-0 gFcOie IYDlXmBmmUKHveMzIPCF"
                                 viewBox="0 0 24 24">
                        <path
                                d="M15.957 2.793a1 1 0 010 1.414L8.164 12l7.793 7.793a1 1 0 11-1.414 1.414L5.336 12l9.207-9.207a1 1 0 011.414 0z">
                        </path>
                    </svg></button>
                    <button><svg role="img" height="24" width="24" class="Svg-ytk21e-0 gFcOie IYDlXmBmmUKHveMzIPCF"
                                 viewBox="0 0 24 24">
                        <path
                                d="M8.043 2.793a1 1 0 000 1.414L15.836 12l-7.793 7.793a1 1 0 101.414 1.414L18.664 12 9.457 2.793a1 1 0 00-1.414 0z">
                        </path>
                    </svg></button>
                </div>

                <!-- End of arrows-->

                <div id="btnTopNav" class="d-flex">

                    <!-- Start of user profile -->
                    <div class="dropdown ms-3" id="user_bttn">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="imgUsuario bg-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path
                                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg>
                            </div>
                            Username Spotify
                        </button>
                        <div class="dropdownMenuButton1-dropContent">
                            <a href="./login">Log Out</a>
                        </div>

                    </div>
                </div>
            </nav>

            <!-- End of user profile -->


            <!-- feed do conteudo principal -->
            <main id="main" class="p-4">

                <!-- seção inicial (header) -->
                <section id="feedHeader">






                    <!-- start of greeting -->
                    <h2 class="fw-bold" id="greeting">Your Playlist</h2>
                    <!-- end of greeting -->

                <section class="feedPlaylist">
                    <br>
                    <br>
                    <ul class="playlists" style="columns: 6;-webkit-columns: 6;-moz-columns: 6;">
                    #foreach($playlist in $created_playlists)
                            <li>
                                <img src="$playlist.photo_url">

                                <button type="button" class="btn me-3" onclick="unlikePlaylist($playlist.ID_Playlist)">
                                    <svg role="img" height="24" width="24" viewBox="0 0 24 24">
                                        <path d="M19.5 10c-2.483 0-4.5 2.015-4.5 4.5s2.017 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.017-4.5-4.5-4.5zm2.5 5h-2v2h-1v-2h-2v-1h2v-2h1v2h2v1zm-6.527 4.593c-1.108 1.086-2.275 2.219-3.473 3.407-6.43-6.381-12-11.147-12-15.808 0-4.005 3.098-6.192 6.281-6.192 2.197 0 4.434 1.042 5.719 3.248 1.279-2.195 3.521-3.238 5.726-3.238 3.177 0 6.274 2.171 6.274 6.182 0 .746-.156 1.496-.423 2.253-.527-.427-1.124-.768-1.769-1.014.122-.425.192-.839.192-1.239 0-2.873-2.216-4.182-4.274-4.182-3.257 0-4.976 3.475-5.726 5.021-.747-1.54-2.484-5.03-5.72-5.031-2.315-.001-4.28 1.516-4.28 4.192 0 3.442 4.742 7.85 10 13l2.109-2.064c.376.557.839 1.048 1.364 1.465z"/>
                                    </svg>
                                </button>

                                <span>"$playlist.name"</span>
                                <p><br>"$playlist.user.username"</p>
                            </li>
                    #end
                </section>


                    <h2 class="fw-bold" id="greeting">Liked Playlist</h2>
                    <!-- end of greeting -->

                    <section class="feedPlaylist">
                        <br>
                        <br>
                        <ul class="playlists" style="columns: 6;-webkit-columns: 6;-moz-columns: 6;">
                            #foreach($playlist in $liked_playist)
                                <li>
                                    <img src="$playlist.photo_url">

                                    <button type="button" class="btn me-3" onclick="unlikePlaylist($playlist.ID_Playlist);">
                                        <svg role="img" height="24" width="24" viewBox="0 0 24 24">
                                            <path d="M19 24h-14c-1.104 0-2-.896-2-2v-17h-1v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2h-1v17c0 1.104-.896 2-2 2zm0-19h-14v16.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-16.5zm-7 7.586l3.293-3.293 1.414 1.414-3.293 3.293 3.293 3.293-1.414 1.414-3.293-3.293-3.293 3.293-1.414-1.414 3.293-3.293-3.293-3.293 1.414-1.414 3.293 3.293zm2-10.586h-4v1h4v-1z"/>
                                        </svg>
                                    </button>

                                    <span>"$playlist.name"</span>
                                    <p><br>"$playlist.user.username"</p>
                                </li>
                            #end
                    </section>
                <!--recently played-->

                <!--poular new releases-->


                <!--mood-->

                        <!--Popular new releases-->
            </main>
        </div>
    </div>

    <div id="snackbar">Playlist is liked !</div>
</div>

<script>
    function httpGetAsync(theUrl, callback)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous
        xmlHttp.send(null);
    }

    function likePlaylist(Playlist_ID) {
        httpGetAsync("http://localhost/SpotEEfy_web_war_exploded/like?playlist="+Playlist_ID)
    }

    function unlikePlaylist(Playlist_ID) {
        httpGetAsync("http://localhost/SpotEEfy_web_war_exploded/unlike?playlist="+Playlist_ID)
    }

    function playlistLikedToast() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }

</script>
</body>

</html>