<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpotEEfy</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>

    <style>
        body {
            overflow: auto !important;
        }
        .register-main-container {
            display: flex;
        }
        .register-main-container .right,
        .register-main-container .left {
            width: 50vw;
            height: 100vh;
        }
        .register-main-container .right {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1db954;
        }
        .register-main-container .right img {
            width: 60%;
            height: auto;
        }
        .register-main-container .left {
            padding-top: 35px;
            background-color: #191414;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-left: 50vw;
            height: 150vh;
            overflow: auto;
        }
        .register-main-container .left .button-container {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        #activate-signup-form,
        #activate-login-form {
            cursor: pointer;
            width: 30%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            color: #1db954;
        }

        #activate-login-form {
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
        }
        #activate-signup-form {
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
        }
        #activate-login-form.active,
        #activate-signup-form.active {
            background-color: #1db954;
            color: #ffffff;
        }
        #SignupForm,
        #loginForm {
            margin-top: 20px;
            display: none;
            width: 45vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #SignupForm p,
        #loginForm p {
            margin-top: 20px;
            margin-bottom: 20px;
            color: rgba(275, 275, 275, 0.9);
            width: 90%;
        }
        #loginForm a {
            margin-top: 20px;
        }

        #SignupForm input,
        #loginForm input {
            width: 90%;
            height: 40px;
            background-color: transparent;
            border: none;
            color: rgba(275, 275, 275, 0.9);
            border-bottom: 1px solid rgba(275, 275, 275, 0.4);
        }
        #SignupForm .show-error,
        #loginForm .show-error {
            color: red;
            width: 90%;
        }
        #SignupForm .signup-button,
        #loginForm .login-button {
            width: 25vw;
            height: 45px;
            margin-top: 30px;
            min-width: 200px;
        }
        @media only screen and (max-width: 800px) {
            .register-main-container .left {
                width: 100%;

                margin: 0px;
            }
            .register-main-container .right {
                position: absolute;
                display: none;
            }
            #SignupForm,
            #loginForm {
                width: 95vw;
            }
            #activate-signup-form,
            #activate-login-form {
                width: 45%;
                max-width: 200px;
            }
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
            sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            overflow-y: hidden;
        }

        code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
        }

        a {
            text-decoration: none;
        }


        .button-green {
            background-color: #1db954;
            color: #ffffff;
            border-radius: 32px;
            border: none;
        }
        body {
            background-color: #121212;
        }
        .button-green:hover {
            background-color: #1ed760;
            cursor: pointer;
        }
        .silvery-text {
            color: #b3b3b3;
        }
        .white-text {
            color: #ffffff;
        }
        .rounded-paly-button {
            width: 55px;
            height: 55px;
            background-color: #1db954;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        .rounded-paly-button i {
            color: #ffffff;
        }
        .section-hading {
            color: #ffffff;
            margin-left: 20px;
            margin-bottom: 25px;
            font-size: 2rem;
        }
        .close:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        .close:before,
        .close:after {
            display: inline-block;
            content: " ";
            height: 45px;
            width: 2px;
            background-color: #b3b3b3;
        }
        .close:before {
            transform: rotate(45deg);
        }
        .close:after {
            transform: rotate(-45deg);
        }
        #main-content {
            background-color: #121212;
            width: 100%;
            height: 100vh;
            padding-bottom: 120px;
            padding-left: 240px;
            overflow-y: auto;
            padding-top: 60px;
        }

        .bn31 {
            background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
            border-radius: 40px;
            box-sizing: border-box;
            color: #00a84f;
            display: block;
            height: 50px;
            font-size: 1.4em;
            padding: 4px;
            position: relative;
            text-decoration: none;
            width: 14em;
            z-index: 2;
        }

        .bn31:hover {
            color: #fff;
        }

        .bn31 .bn31span {
            align-items: center;
            background: #0e0e10;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            height: 100%;
            transition: background 0.5s ease;
            width: 100%;
        }

        .bn31:hover .bn31span {
            background: transparent;
        }

    </style>
    <div class="register-main-container">
        <div class="right">
            <img src="images/temporary.jpeg" alt="'temp"/>
        </div>
        <div class="left">
            <div class="button-container">
                <div
                        id="activate-signup-form"
                >
                <p></p>
            </div>
            <span
                    id="activate-login-form"
            >
            Log In
            </span>
        </div>

        <div>
            <!--
            <form
                    id="loginForm"
                    action="register.php"
                    method="POST"
                    style="display:flex"
            >
            <p>Email/Username</p>

            <input
                    type="text"
                    name="usernameOrEmail"
                    placeholder="Email/Username"
            />

            <p>Password</p>
            <input type="password" name="password" placeholder="Password" />
            <button
                    type="submit"
                    class="button-green login-button"
                    name="login-submit"
            >
            Log In
            </button>
            <a href="#" class="white-text">
                Forgotten Password
            </a>
            </form>
            -->
            <a class="bn31"  ><span class="bn31span" id="spotify_button">Login with Spotify</span></a>
        </div>
    </div>
        <script>
            var client_id = '0c2bf5c0e34e44e283582f726b9ecce2';
            var redirect_uri = 'http://localhost:8080/SpotEEfy_web_war_exploded/callback/response';
            const characters ='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

            function generateString(length) {
                let result = ' ';
                const charactersLength = characters.length;
                for ( let i = 0; i < length; i++ ) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }

                return result;
            }
            var state = generateString(16);


            var scope = 'user-read-private user-read-email user-top-read user-library-read';

            var url = 'https://accounts.spotify.com/authorize';
            url += '?response_type=token';
            url += '&client_id=' + encodeURIComponent(client_id);
            url += '&scope=' + encodeURIComponent(scope);
            url += '&redirect_uri=' + encodeURIComponent(redirect_uri);
            url += '&state=' + encodeURIComponent(state);

            var button_signin_spotify=document.getElementById('spotify_button')
            button_signin_spotify.addEventListener('click', function() {
                window.location=url;
            })

        </script>
    </div>
</body>
</html>